#contact{   
    height: 500px;    
    background-image: url(../bg/contact1.jpg);
    background-attachment: fixed;    
    font-family: 'regular';
    @include tablet{
        height: 600px;
        background-position: center;
        background-size: cover;
    }
    @include mobile{
        height: 700px;
        background-position: center;
        background-size: cover;
    }
    .contact{          
        text-align: center;
        p{
            font-size: nth($font, 5);            
            color: nth($colors, 8);
            padding-top: 100px;
            line-height: 40px; 
            @include mobile{
                padding: 70px;
            }
        }
    }
}    
