#contact{   
    scroll-margin: 170px;
    height: 400px;    
    background-image: url(../bg/contact1.jpg);
    background-attachment: fixed;    
    font-family: 'regular';   
    .contact{          
        text-align: center;
        p{
            font-size: nth($font, 5);            
            color: nth($colors, 8);
            padding-top: 50px;
            line-height: 40px; 
            
        }
    }
}    
