#home{ 
    scroll-margin: 200px;       
    grid-area: main;
    width: 100%;
    height: 650px;
    background-image: url(../bg/printer1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  
   
    @include tablet{        
        background-size: 990px 650px;       
    
    }
    @include mobile{        
        background-size: 700px 650px;
    }
    .home{                                  
        padding: 150px; 
        .home-h1{    
            padding: 30px;  
            margin-top: 100px;                    
            margin-bottom: 30px; 
            font-family: 'regular';
            font-size: nth($font, 3);
            color: nth($colors, 2);
            letter-spacing: 2px;
            background-color: rgba(0, 0, 0, 0.842);     
        }    
        .home-h2{  
            padding: 30px;           
            margin-top: 0;     
            font-family: 'regular';
            font-size: nth($font, 2);
            color: nth($colors, 2);
            letter-spacing: 2px;  
            background-color: rgba(0, 0, 0, 0.842);    
        }
    }
}
