#services{  
    max-width: 100%;
    scroll-margin: 170px;    
    height: 950px;
    background-image: url(../bg/bg-services.jpg);    
    background-position: center;
    background-size: cover;    
    font-family: 'bold';
    @include tablet{        
        background-size: 990px 1200px; 
        height: 1200px;    
    
    }
    @include mobile{        
        background-size: 700px 1100px;
        height: 1100px;        
    }
    
    .h1{
        color: nth($colors, 8);
        letter-spacing: 2px;        
        text-align: center;
        letter-spacing: 3px;
        font-size: nth($font, 3); 
        padding-top: 40px;          
    }
    & p{        
        color: nth($colors, 8);
        text-align: center;
        font-size: nth($font, 1); 
        letter-spacing: 2px;
        line-height: 40px;
        padding: 10px 60px 10px 60px;     
    }
    .services-flex{ 
             
        height: 200px;
        padding-top: 20px;        
        display: grid;
        grid-template-columns: auto;
        align-items: center;        
        justify-content: center;
        align-items: stretch;                    
        text-align: center;         
        @include tablet{        
                
        
        }
        @include mobile{        
                    
        } 
        img{    
            background-color: white;           
            border-radius: 50px;
            padding: 20px;
            border: 2px solid orange;            
            
            &:hover {
                transform: scale(1.1);
            }          
        }
        .img7{
            grid-column: 1 / span 3;
   
        }     
        
    }
}
