.services2{  
    overflow: hidden;
    padding-top: 40px;    
    height: 500px;
    display: flex;  
    font-family: 'regular'; 
    line-height: 40px;
    color: nth($colors, 8);
    
    h1{
        font-family: 'bold';
        font-size: nth($font, 3);
        
        
    }
    p{
        font-size: nth($font, 1);
        padding-top: 20px;
        padding-right: 10px;
        
    }   
    
}